/.metadata/

orderconsumer/.settings/
orderconsumer/target/
orderconsumer/.classpath
orderconsumer/.project

orderproducer/.settings/
orderproducer/target/   
orderproducer/.classpath
orderproducer/.project 

streamsdemo/.settings/
streamsdemo/target/   
streamsdemo/.classpath
streamsdemo/.project
